body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Rate{
  font-size: 21px!important;
}
#open-calc{
  color: #222222!important;
}
#close-calc{
  font-size: 14px;
  color: lightgray;
}
.form-check{
  font-size: 14px!important;
}
#calculate-button{
  color: #222222!important;
}